@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* #050d13 */
/* #0f273c */
/* #1a4264 */
/* #2f77b5 */
/* #4891cf */

/* #94712e */
/* #bb8f3a */
/* #cca65c */
/* #e4d0aa */
/* #f0e6d1 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #f0e6d1;
  color: #050d13;
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  color: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.section-padding {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

a:link,
a:visited,
button.btn-primary {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  padding: 1.5rem 3rem;
  background: #bb8f3a;
  border-radius: 50px;
  border: 2px solid #e4d0aa;
  transition: 0.7s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

a:hover,
a:active,
button:hover.btn-primary {
  color: #bb8f3a;
  border-color: #bb8f3a;
  transform: translateY(-10px);
  background: #e4d0aa;
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 57.5%;
  }
}

@media screen and (max-width: 1170px) {
  html {
    font-size: 52.5%;
  }
}
